<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>用户信息表</title>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
    </head>

    <body style="margin-left: 200px; margin-right: 200px">
        <table class="table table-striped">
            <caption style="text-align: center; font-family: 华文楷体; font-size: xx-large; font-weight: bold; color: black">用户信息表</caption>
            <caption style="text-align: right;"><a th:href="@{/user/jump/add}">添加用户</a></caption>
            <thead>
                <tr>
                    <th style="text-align: center;">序号</th>
                    <th style="text-align: center;">昵称</th>
                    <th style="text-align: center;">手机</th>
                    <th style="text-align: center;">邮箱</th>
                    <th style="text-align: center;">地址</th>
                    <th style="text-align: center;">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td style="text-align: center;" th:text="${userStat.count}"></td>
                    <td style="text-align: center;" th:text="${user.nick}"></td>
                    <td style="text-align: center;" th:text="${user.phone}"></td>
                    <td style="text-align: center;" th:text="${user.email}"></td>
                    <td style="text-align: center;" th:text="${user.address}"></td>
                    <td style="text-align: center;">
                        <a th:href="@{|/user/jump/modify/${user.id}|}">修改</a>&nbsp
                        <a th:href="@{|/user/delete/${user.id}|}">删除</a>
                    </td>
                </tr>
                <tr style="text-align: center;">
                    <td colspan="6">
                        <span th:if="${curPage <= 1}">
                            首页&nbsp上一页
                        </span>
                        <span th:if="${curPage >1}">
                            <a th:href="@{/user?curPage=1}">首页</a>&nbsp
                            <a th:href="@{|/user?curPage=${curPage - 1}|}">上一页</a>
                        </span>
                        <span th:if="${curPage >= pageCount}">
                            &nbsp下一页&nbsp尾页
                        </span>
                        <span th:if="${curPage < pageCount}">
                            &nbsp
                            <a th:href="@{|/user?curPage=${curPage + 1}|}">下一页</a>&nbsp
                            <a th:href="@{|/user?curPage=${pageCount}|}">尾页</a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>

    </body>
</html>