<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>

    <body>
        <span th:text="${user.nick}">Cheryl</span>
        <span th:text="${user.phone}">13910733521</span>
        <!--<span th:text="${user.email}">fion@jd.com</span>-->
        <span th:text="${user.address}">安徽合肥</span>

        <span th:text="${hello}">你好</span>

        <div th:object="${user}">
            <p>Nick: <span th:text="*{nick}"></span></p>
            <p>Phone: <span th:text="*{phone}"></span></p>
            <p>Address: <span th:text="*{address}"></span></p>
        </div>

        <p>Nick: <span th:text="*{user.nick}"></span></p>
        <p>Phone: <span th:text="*{user.phone}"></span></p>
        <p>Address: <span th:text="*{user.address}"></span></p>

        <a href="index.html" th:href="@{'http://localhost:8080/boot/user/info/' + ${user.id}}">查看用户id1</a>
        <a href="index.html" th:href="@{|http://localhost:8080/boot/user/info/${user.id}|}">查看用户id2</a>

        <a href="index.html" th:href="@{|boot/user/info/${user.id}|}">相对URL页面</a>
        <a href="index.html" th:href="@{|/boot/user/info/${user.id}|}">相对URL上下文</a>

        <form id="login" th:action="@{/boot/login}">...</form>

        <span th:id="${user.id}">动态设定id</span>

        <br/>
        <span th:if="${sex eq 1}">男</span>
        <span th:if="${sex eq 2}">女</span>

        <br/>
        <span th:unless="${sex eq 1}">男</span>
        <span th:unless="${sex eq 2}">女</span>

        <br/>
        <span th:switch="${city}">
            <span th:case="1">北京</span>
            <span th:case="2">上海</span>
            <span th:case="*">其他城市</span>
        </span>

        <br/>
        <img th:src="@{/image/logo.jpg}" />
        <!--<img src="http://localhost:8080/thymeleaf/image/logo.jpg">-->

        <br/>
        <input type="text" id="nick" name="nick" th:text="${user.nick}"/>
        <input type="text" id="phone" name="phone" th:value="${user.phone}"/>

        <br/>
        <span th:text="1992">2016</span>年<span th:text="6 + 6">1</span>月<span th:text="2 * 11">14</span>日

        <br/>
        <p th:if="${isFlag == true}">
            <span th:text="${isFlag}">false</span>
        </p>
        <br/>
        <p th:if="${user == null}">
            user为空
        </p>
        <p th:if="${user != null}">
            user不为空
        </p>

        <br/>
        <span th:text="'当前是第' + ${sex} + '页，共' + ${sex} + '页'"></span>
        <span th:text="|当前是第${sex}页，共${sex}页|"></span>

        <br/>
        <span th:text="${sex eq 1} ? 男 : 女"></span>

        <br/>
        <span th:text="${#request.getAttribute('name')}"></span>
        <span th:text="${#request.getContextPath()}"></span>

        <br/>
        <span th:text="${#session.getAttribute('address')}"></span>
        <span th:text="${#session.id}"></span>
        <span th:text="${#session.lastAccessedTime}"></span>

        <br/>
        <span th:text="${#dates.format(#session.lastAccessedTime, 'yyyy-MM-dd HH:mm:ss')}"></span>


        <script th:inline="javascript" type="text/javascript">
            var msg = [[${#request.getAttribute('name')}]]
            alert(msg);
        </script>
    </body>
</html>